
<header>
    <h1 >Binary tree visualization</h1>
    
    <app-button class="btn"
    color='red'
    text="Add Node"

    ></app-button>
    <input type="number" name="zevi" placeholder="Add node" >

    
    <app-button class="btn"
    color='blue'
    text="Delete Node"

    ></app-button>
    <input type="number" name="zebi" placeholder="delete node" >
   
    <app-button class="btn"
    color='green'
    text="how to get there"

    ></app-button>
    <input type="number" name="zezi" placeholder="search node">
</header>