@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  margin :0 0px 10px 0px;
  color: burlywood;
}
body {
  font-family: "Poppins", sans-serif;
}
#titre{
  text-align: center;
}
.container {
  width: 100%;
  height:1080px;
  margin: 30px auto;
  overflow: auto;

  border: 1px solid steelblue;
  background-color: antiquewhite;
  padding: 30px;
  border-radius: 5px;
}
input{
  height:30px;

}
.container1 {
  width: 100%;
  height:100px;
  margin: 30px auto;
  overflow: visible;

  border: 1px solid steelblue;
  background-color: antiquewhite;
  padding: 30px;
  border-radius: 5px;
}
.btn {
  display:inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 0px;
  margin: 0 4% 10%;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}